<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBNB.com</title>
    <link rel="stylesheet" href="style.css">
    <script src="server.js"></script>
</head>
<body>

  <div class="cover">

    <div id="header">
            <img style="width: 75px; height: 50px;" src="image/logo.png" alt="airbnb.com">
            <a href="room.html"><h2>Stay here</h2></a>
            <a href="room.html"><h2>Explore us</h2></a>
            <a href="#"><h2>Covid-19</h2></a>
            <a style="float: right;" href="signup.html"><h2>Sign UP</h2></a>
            <a style="float: right;" href="signup.html"><h2>Log In</h2></a>
    </div>
    <div id="form-1">
        <h1>Book with us</h1>
        <label>WHERE</label>
        <input type="text" placeholder="Anywhere">
        <div id="lab">
        <div id="lab1">
        <label>CHECK-IN</label>
        <input type="datetime" value="OCT 30, 2020"></div>
        <div id="lab2">
        <label>CHECK-OUT</label>
        <input type="datetime" value="OCT 31,2020"></div></div>
        <label>GUEST</label>
        <input type="number" placeholder="1 guests">
        <div id="lab3">
        <input type="submit" value="Go near">
      </div>

     </div>
     <div id="h1-tr">
         <h2 style="padding-bottom: 0px;">Visit Toronto</h2>
         <button style="font-size: 13px; padding: 10px;border: 1px solid black; border-radius: 8px; text-decoration: none; background-color: rgb(255, 255, 255);">Explore Now</button>
     </div>

</div>

    <div id="text">
      <h2>Travellers entering Canada</h2>
      <p>No one should travel when sick. Commercial airline restrictions may also prevent you from boarding your plane if you're sick. However, Canadians, persons with status under the Indian Act and permanent residents who have COVID-19 symptoms are allowed to return to Canada.</p>
    </div>

<footer>

<div id="about">
   <a href=""><h2>How about us</h2></a>
   <a href=""><p>How Airbnb works</p></a>
   <a href=""></a> <p>Newsroom</p> </a>
   <a href=""></a> <p>Airbnb Plus</p></a>
   <a href=""><p>Careers</p></a>
</div>



<div id="icon">
  <h3>Join Social media</h3>

  <a href="#">
    <img
      src="img/Instagram.png"
      width="54"
      height="54"
      alt="Instagram Icon"
      title="Go to Instagram"
    />
  </a>

  <a href="#\">
    <img
      src="img/twitter.png"
      width="54"
      height="54"
      alt="Twitter icon"
      title="Go to Twitter."
    />
  </a>

</div>

<div id="last-f">
  <p>&copy; 2020 Ali</p>
</div>
</footer>



</body>
</html>
