<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Registration</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

    <div class="main-2">

        <div id="header">
                <img style="width: 75px; height: 50px;" src="image/logo.png" alt="airbnb.com">
                <a href="room.html"><h2>Place to stay</h2></a>
                <a href="room.html"><h2>Explore Room</h2></a>
                <a href="#"><h2>Online Experiences</h2></a>
           
                <a class="a1" href="signup.html"><h2>Sign up</h2></a>
                <a class="a2" href="signup.html"><h2>Log in</h2></a>       
        </div>


      
         </div> 
    
    </div>


    <div id="h2-tr">
        <h2 style="padding-bottom: 0px;">Discover New Rooms</h2>
    </div>

    <div class="grid-container">

        <div id="room1">
            <img src="image/room6.jpg" alt="room1">
            <p style="font-weight: bold;">New York</p>

        </div>
        <div id="room2">
            <img src="image/room1.jpg" alt="room2">
            <p style="font-weight: bold;">East York</p>
            

        </div>
        <div id="room3">
            <img src="image/room2.jpg" alt="room3">
            <p style="font-weight: bold;">North York</p>
            
        </div>
        <div id="room4">
            <img src="image/room3.jpg" alt="room4">
            <p style="font-weight: bold;"> NEW YORK</p>
           

        </div>
        <div id="room5">
            <img src="image/room4.jpg" alt="room5">
            <p style="font-weight: bold;">VANCOUVER</p>
      

        </div>
        <div id="room6">
            <img src="image/room5.jpg" alt="room6">
            <p style="font-weight: bold;">Toronto</p>
          

        </div>

    </div>








    <footer>
               
        <div id="icon-menu">
          <h3>Stay Connected</h3>
          <a href="#">
            <img
              src="img/facebook.png"
              width="56"
              height="54"
              alt="Facebook icon"
              title="Go to Facebook."
            />
          </a>
        
          <a href="#\">
            <img
              src="img/twitter.png"
              width="54"
              height="54"
              alt="Twitter icon"
              title="Go to Twitter."
            />
          </a>
        

        </div>
        
        <div id="last-footer">
          <p>&copy; 2020 Ali</p>
        </div>
        </footer>
    
</body>
</html>